<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Erro</title>
    <link rel="stylesheet" href="webjars/bootstrap/5.3.1/css/bootstrap.min.css">
</head>
<body class="vh-100 d-flex justify-content-center align-items-center">
    <div class="p-3">
        <img src="../static/images/broken-robot.png" alt="Broken robot">
        <h1 class="h1 text-center">Oops... Algo deu errado!</h1>
        <p class="fs-6 text-center">Favor entrar em contato com o administrador do sistema.</p>
    </div>

</body>
</html>