<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="webjars/bootstrap/5.3.1/css/bootstrap.min.css">
</head>
<body class="">
    <form class="mx-auto rounded bg-dark px-4 py-3 position-absolute top-50 start-50 translate-middle">
        <div class="mb-3">
            <p class="fs-3 fw-semibold text-center text-light">Sign in</p>
        </div>
        <div class="mb-3">
            <label for="username-input" class="form-label text-light">Usuário</label>
            <input type="text" class="form-control" id="username-input" placeholder="Usuário">
        </div>
        <div class="mb-3">
            <label for="password-input" class="form-label text-light">Senha</label>
            <input type="password" class="form-control" id="password-input" placeholder="Senha">
        </div>
        <button type="button" class="btn btn-success">Entrar</button>
    </form>
    <script src="webjars/bootstrap/5.3.1/js/bootstrap.min.js"></script>
</body>
</html>